# Dependências
node_modules/
vendor/

# Ambientes
.env
.env.*.local
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build / Dist
dist/
build/
.out/
.next/
*.tsbuildinfo

# Cache
.cache/
.vite/
tmp/
temp/
*.log

# IDEs / editores
.vscode/
.idea/
*.swp
*.swo

# Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos pessoais
*.local
*.bak
*.old
*.orig

# Outros
coverage/
test-output/
*.tgz
*.zip
*.rar
*.7z
*.gz

# Git
*.orig
*.rej
# Prisma
prisma/
lib/
